util.print: Use console.log instead
html,body{padding:0;margin:0}
body{-webkit-font-smoothing:antialiased;background:#2b2b2b;text-align:center;font:18px / 1.4 'Helvetica','Arial',sans-serif;padding-top:20px}
body,button,input,select,textarea,code,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{color:#aaa;font-family:'微软雅黑' !important}
.footer{font-size:12px;padding:40px 0 20px}
.header{border-bottom:1px solid #666;margin-bottom:5px;padding-bottom:5px;text-align:left;border-left:1px solid #666;padding-left:20px}
.time{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:24px;color:#fff;padding:20px 0}
.progressitem{list-style:none;padding:0;margin:0;font-size:12px;text-align:left}.progressitem li{padding:8px 0;border-bottom:1px solid #333}.progressitem li b{margin-right:5px;color:#555}
.tablebox .table{text-align:left;font-size:12px}
.tablebox .table th,.tablebox .table td{border-color:#333}
h2.title{font-size:14px;text-align:left;margin-top:20px;background:#333;border-left:3px solid #555;padding:10px}
.content{padding:10px 0}
.content.sf{font-size:12px}
@media only screen and (max-width:600px){li{font-size:14.4px}}@media only screen and (max-width:430px){.span6{float:none;width:100%} body{padding-top:0}}.chart{position:relative;display:inline-block;width:110px;height:110px;margin-top:50px;margin-bottom:50px;text-align:center}
.chart canvas{position:absolute;top:0;left:0}
.percent{display:inline-block;line-height:110px;z-index:2;color:#eee}
.percent:after{content:'%';margin-left:.1em;font-size:.8em}
